---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<div
  class="absolute z-30 top-0 right-0 w-full p-4 md:p-0 md:w-[130px] md:mr-8 md:mt-8"
>
  <button
    type="button"
    class="peer w-full text-left rounded-3xl px-5 py-3 bg-white/30 hover:bg-white focus:bg-white focus:rounded-b-none text-sm font-medium flex gap-2 justify-between items-center"
    onfocus="document.querySelector('.lang-list').classList.toggle('hidden')"
    onblur="setTimeout(() => document.querySelector('.lang-list').classList.add('hidden'), 10)"
  >
    <img src={`/images/flag_${lang}.png`} class="h-4 w-auto" alt="" />
    <span class="flex-auto">{languages[lang]}</span>
    <i class="fa-solid fa-chevron-down"></i>
  </button>
  <div
    class="lang-list hidden absolute z-30 left-0 origin-top-left w-full p-4 md:p-0 -mt-5 md:mt-0"
  >
    <div
      class="px-3 pb-2 bg-white rounded-b-3xl text-sm font-medium flex flex-col md:gap-1"
    >
      {
        Object.entries(languages)
          .filter(([langCode]) => langCode !== lang)
          .map(([langCode, name]) => (
            <a
              href={langCode === "da" ? `/` : `/${langCode}/`}
              class="no-underline rounded hover:bg-black/10 px-2 py-2 flex gap-2 justify-between items-center"
            >
              <img
                src={`/images/flag_${langCode}.png`}
                class="h-4 w-auto"
                alt={name}
              />
              <span class="flex-auto">{name}</span>
            </a>
          ))
      }
    </div>
  </div>
</div>
