---
interface NewsItem {
  nid: string;
  title: string;
  date: string;
  text: string;
  link: string;
}

const resp = await fetch(
  "https://www.spillemyndigheden.dk/json/rofus?_format=json",
);
const data = (await resp.json()) as NewsItem[];
---

<div role="region" aria-labelledby="news-header" id="news-bg">
  <div class="wrapper clearfix">
    <div class="crown fr"></div>
    <h2 id="news-header">Nyt om ROFUS fra spillemyndigheden.dk</h2>
    <hr />
    <div id="news" class="faq">
      {
        data.map((newsItem, index) => (
          <div
            class={`news-item faq-item node_${newsItem.nid} ${index % 2 === 1 ? "fr" : "cl fl"}`}
          >
            <h3>{newsItem.title}</h3>

            <p class="date" data-date="'+pubDate+'">
              <em>{newsItem.date}</em>
            </p>
            <p>{newsItem.text}'</p>
            <p>
              <strong>
                <Fragment set:html={newsItem.link} />
              </strong>
            </p>
          </div>
        ))
      }
    </div>
  </div>
</div>
