---
import SectionHeader from "./SectionHeader.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { defaultLang } from "../i18n/ui";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
interface NewsItem {
  nid: string;
  title: string;
  date: string;
  text: string;
  link: string;
}

const resp = await fetch(
  `https://www.spillemyndigheden.dk/${lang === defaultLang ? "" : `${lang}/`}json/rofus/news?_format=json`,
);
const data = (await resp.json()) as NewsItem[];
---

<section
  role="region"
  aria-labelledby="news-header"
  id="news-bg"
  class="bg-bgNews"
>
  <div class="container py-12">
    <SectionHeader id="news-header">
      {t("sectionNews.title")}
    </SectionHeader>

    <div
      id="news"
      class="pt-10 md:pt-16 grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-16 lg:gap-20"
    >
      {
        data.map((newsItem, index) => (
          <div
            class={`news-item faq-item node_${newsItem.nid} ${index % 2 === 1 ? "fr" : "cl fl"}`}
          >
            <h3 class="uppercase text-lg font-bold leading-tight">
              {newsItem.title}
            </h3>

            <p class="date text-xs pt-3" data-date="'+pubDate+'">
              <em>{newsItem.date}</em>
            </p>
            <p class="py-4">{newsItem.text}</p>
            <p>
              <strong class="underline hover:no-underline">
                <a href={newsItem.link} target="_blank">{t("sectionNews.readMore")}</a>
              </strong>
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
